body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  /* padding-top: 0; */
  /* padding: 8px; */
  background-color: blueviolet;
  color: white;
  width: 100%;
}
.img1{
  background-image: url(./assets/2.jpeg);
  /* width: 100%; */
  max-width: 300px;
  height: 300px;
  /* max-height: 350px; */
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 10px solid black;
}
section {
  text-align: center;
  padding-left: 550px;
  padding-top: 20px;
  padding-bottom: 75px;
}

.mainDiv {
  width: 400px;
  padding: 15px;
  background-color: purple;
  color: white;
  font-size: 20px;
  box-shadow: 2px 5px 5px black;
  border-radius: 20px;
}
.divStudent{
  display: flex;
  width: 90%;
  margin: auto;
  border: 2px solid black;
  gap: 20px;
}
.imgCls{
  background-image: url(./assets/2.jpeg);
  width: 100%;
  max-width: 300px;
  height: 300px;
  border: 10px solid black;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  margin: auto;
}
b{
  font-size: 25px;
}
.para{
  width: 70%;
  margin: auto;
}